# fly.toml app configuration file generated for habitual-trends-tkm9ng on 2026-01-27T07:20:20Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'habitual-trends-akdc9g'
primary_region = 'jnb'

# Essential for Reflex: Tells the app its own public address so WebSockets connect correctly.
[env]
  API_URL = "https://habitual-trends-akdc9g.fly.dev"

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512  # <--- CHANGED FROM 256 TO 512